plugins:
  resolvers:
    - https://github.com/{{index GroupParts 1}}/{{index GroupParts 2}}/releases/download/v{{Version}}/{{Product}}-{{Version}}-{{OS}}-{{Arch}}.tgz
  plugins:
    - locator:
        id: com.palantir.godel-mod-plugin:mod-plugin:1.51.0
        checksums:
          darwin-amd64: 6ff72bb11b5f9e4a0dff8f7825e6a6f6996113f9e03e86a9e8d03e2b7d35ce00
          darwin-arm64: f16821dc59b157420124fdde618aa5ba0c3436d99970979cb607261d138a0ce2
          linux-amd64: 9a9c12b41d31f18986299103ded67fcbfab04078a06726c743e4c7e5f4fe1be7
          linux-arm64: a6a95432dc1e9cc32f705a541cd6b355e833a7144c140f53b9029dea5ac5a024
    - locator:
        id: com.palantir.godel-generate-plugin:generate-plugin:1.42.0
        checksums:
          darwin-amd64: b650ff929e27452f8dc54c89b95b0a33bf315a138b8198a8f23ae2400fbe913c
          darwin-arm64: 784dcb58cbdde130a40cdafc7c11caff8e77d1fea6094d4d18f4501dd7eb5db9
          linux-amd64: 12d9a5a54189568c088c188b8acefda267e8fcd615cd3a615b7e50f4fb2581db
          linux-arm64: b7d84c4fd6bb394cd3d602a337e46388bfa69536104c2d5aa0ccb2616e76a6b9
environment:
  GO111MODULE: "on"
  GOFLAGS: "-mod=vendor"
exclude:
  names:
    - \..+
    - vendor
  paths:
    - godel
    - ir-gen-cli-bundler/conjureircli/internal
